.functional-item {
    margin-bottom: 60px;
}

.functional-item__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 35px;
    color: $text_dark;
}

.functional-item__description {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
    color: $text_light;
}

.functional-item__image {
    width: 100%;
    height: auto;
}