$background_dark: #172755;
$background_light: #f8f9ff;
$text_light:#8794ba;
$text_dark: #172755;
$shadow_dark: #12214d;
$white:#ffffff;
$bright_1: #ef2a82;
$bright_2: #0088f0;
$border_dark: #2a407c;
$border_light: #d3d9e9;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;