.features-list {
    padding: 50px 20px 36px;
    color: $text_light;
}

.features-list__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 35px;
    color: $text_dark;
}

.features-list__description {
    margin: 0;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
}